# Required
POSTGRES_PASSWORD=changeme
FORGE_SECRET_KEY=changeme_generate_random_50_chars
FORGE_BROADCAST_WEBSOCKET_SECRET=changeme_generate_random_50_chars
FORGE_ADMIN_PASSWORD=changeme
FORGE_CSRF_TRUSTED_ORIGINS=https://forge.example.com

# Optional
POSTGRES_USER=forge
POSTGRES_DB=forge
FORGE_ADMIN_USER=admin
FORGE_ADMIN_EMAIL=admin@example.com
FORGE_ALLOWED_HOSTS=*
FORGE_NODE_NAME=forge-node
FORGE_NODE_TYPE=hybrid

# Docker images
FORGE_BACKEND_IMAGE=registry.cloudforyour.work/forge-platform/forge-backend
FORGE_FRONTEND_IMAGE=registry.cloudforyour.work/forge-platform/forge-frontend
FORGE_TAG=latest
